<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    <style>
        body{
            padding:10%;
            background-color: black;
        }
        span {
            background-color: purple;
            color: white;
            padding:6px;
            border-radius: 3px;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="container">
            <div class="row">
              <div class="col">
                <div class="text-center">
                    <img src="{{ object.big_poster_url }}" height="400">
                </div>
              </div>
              <div class="col">
                <h1>{{ object.title }} ({{ object.year }})</h1>
                <h5>{{ object.certificate }}</h5>
                <p>Rating: {{ object.rating }}</p>
                <p>
                {% for genre in object.genre.all %}
                <span>{{genre.name}}</span>
                {% endfor %}
                </p>
                <p> <b>Directors: </b>
                    {% for director in object.directors.all %}
                    {{director.name}} 
                    {% endfor %}
                </p>
                <p> <b>Actors: </b>
                    {% for actor in object.actors.all %}
                    {{actor.name}} 
                    {% endfor %}
                </p>

                <p>{{ object.description }}</p>
                
              </div>
          </div>
    </div>
    
</body>
</html>