<html>
    <head>
        <style>
            a:link, a:visited {
                text-decoration: none;
                color: black;
            }
            a h6{
                color: black;
            }
            body{
                padding: 10%;
            }
            .col-md-3 h6{
                padding: 15px;
            }
            
        </style>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <p>This is the are for the filterrs</p>
                    <!--This part is the form-->
                    <label for="actorsDataList" class="form-label">Actors</label>
                    <input class="form-control" list="actorlistOptions" id="actorsDataList" placeholder="Type to search...">
                    <datalist id="actorlistOptions">
                        {% for actor in actors %}
                            <option value="{{actor.name}}">
                        {% endfor %}
                    </datalist>

                    <label for="genreDataList" class="form-label">Genre</label>
                    <input class="form-control" list="genrelistOptions" id="genreDataList" placeholder="Type to search...">
                    <datalist id="genrelistOptions">
                        {% for genre in genres %}
                            <option value="{{genre.name}}">
                        {% endfor %}
                    </datalist>
                </div>


                <div class="col-md-9">
                {% for movie in movies %}
                    {% if forloop.first %}<div class="row">{% endif %}
                        <div class="col-md-3">
                            <a href="{{movie.get_absolute_url}}">
                                <img width="95%" loading="lazy" src="{{movie.poster_url}}" alt="">
                                <h6>{{movie.title}}</h6>
                            </a>
                        </div>
                    {% if forloop.counter|divisibleby:4 %}</div><div class="row">{% endif %}
                    {% if forloop.last %}</div>{% endif %}
                {% endfor %}
                </div>
            </div> 


        </div>
    </body>
</html>